<a href="https://colab.research.google.com/github/ArthusdePaula/APPRO/blob/main/Data_Master_Arthus_de_Paula_15102023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
train_df = pd.read_csv("data/train.csv")
train_df

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76015,151829,2,48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60926.490000,0
76016,151830,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,118634.520000,0
76017,151835,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74028.150000,0
76018,151836,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84278.160000,0
76019,151838,2,46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [ ]:
filtered_train_df = train_df.drop(columns=["ID"]).dropna()
filtered_train_df.describe()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
count,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,...,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,7.602000e+04,76020.000000
mean,-1523.199277,33.212865,86.208265,72.363067,119.529632,3.559130,6.472698,0.412946,0.567352,3.160715,...,7.935824,1.365146,12.215580,8.784074,31.505324,1.858575,76.026165,56.614351,1.172358e+05,0.039569
std,39033.462364,12.956486,1614.757313,339.315831,546.266294,93.155749,153.737066,30.604864,36.513513,95.268204,...,455.887218,113.959637,783.207399,538.439211,2013.125393,147.786584,4040.337842,2852.579397,1.826646e+05,0.194945
min,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.163750e+03,0.000000
25%,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.787061e+04,0.000000
50%,2.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.064092e+05,0.000000
75%,2.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.187563e+05,0.000000
max,238.000000,105.000000,210000.000000,12888.030000,21024.810000,8237.820000,11073.570000,6600.000000,6600.000000,8237.820000,...,50003.880000,20385.720000,138831.630000,91778.730000,438329.220000,24650.010000,681462.900000,397884.300000,2.203474e+07,1.000000

In [ ]:
train_features_df = filtered_train_df.drop(columns="TARGET")

In [ ]:
target_df = filtered_train_df["TARGET"]

## Feature Selection

### Correlação

#### Correlação das Features entre si

In [ ]:
features_corr_matrix = train_features_df.corr()

In [ ]:
features_corr_matrix

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
var3,1.000000,-0.004452,0.001868,0.005989,0.006817,0.001518,0.001690,0.000530,0.000611,0.001311,...,0.000229,0.000716,0.000491,0.000638,0.000669,0.000617,0.000508,0.000738,0.000778,0.000071
var15,-0.004452,1.000000,0.043722,0.094762,0.101177,0.042754,0.048512,0.008805,0.009678,0.035884,...,0.011623,0.029358,0.017264,0.028504,0.029176,0.029180,0.018884,0.032833,0.033597,0.006497
imp_ent_var16_ult1,0.001868,0.043722,1.000000,0.041221,0.034879,0.009896,0.009377,0.000592,0.002510,0.011502,...,0.007428,-0.000864,-0.000632,-0.000548,-0.000540,0.002655,-0.000612,0.005055,0.006590,0.000007
imp_op_var39_comer_ult1,0.005989,0.094762,0.041221,1.000000,0.886476,0.342709,0.295295,0.032280,0.054809,0.249247,...,0.001123,0.016422,0.011719,0.012570,0.013703,0.009445,0.005532,0.011665,0.010802,0.012546
imp_op_var39_comer_ult3,0.006817,0.101177,0.034879,0.886476,1.000000,0.316671,0.355670,0.029094,0.055449,0.247707,...,0.000192,0.027489,0.021819,0.018427,0.020530,0.008539,0.006359,0.010660,0.009822,0.013271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
saldo_medio_var44_hace2,0.000617,0.029180,0.002655,0.009445,0.008539,-0.000436,-0.000561,-0.000211,-0.000243,-0.000393,...,0.003708,0.001174,-0.000187,0.003271,0.002914,1.000000,0.332172,0.818300,0.710593,0.002889
saldo_medio_var44_hace3,0.000508,0.018884,-0.000612,0.005532,0.006359,-0.000480,-0.000529,-0.000170,-0.000195,-0.000417,...,-0.000074,-0.000219,-0.000151,-0.000196,-0.000205,0.332172,1.000000,0.229158,0.213191,0.003646
saldo_medio_var44_ult1,0.000738,0.032833,0.005055,0.011665,0.010660,-0.000254,-0.000510,-0.000254,-0.000292,-0.000260,...,0.010993,0.000819,-0.000225,0.002493,0.002205,0.818300,0.229158,1.000000,0.968167,0.003258
saldo_medio_var44_ult3,0.000778,0.033597,0.006590,0.010802,0.009822,-0.000372,-0.000601,-0.000268,-0.000308,-0.000356,...,0.009088,0.000977,-0.000238,0.002905,0.002574,0.710593,0.213191,0.968167,1.000000,0.003037
var38,0.000071,0.006497,0.000007,0.012546,0.013271,0.016628,0.015584,-0.000315,0.000682,0.003580,...,-0.001412,0.004448,0.001605,0.004255,0.004290,0.002889,0.003646,0.003258,0.003037,1.000000

In [ ]:
features_corr = features_corr_matrix.abs().unstack().sort_values(ascending=False).drop_duplicates().reset_index()
features_corr.rename(columns={0: "abs_correlation", "level_0": "feature_a", "level_1": "feature_b"}, inplace=True)
features_corr

,feature_a,feature_b,abs_correlation
0,delta_imp_reemb_var33_1y3,imp_reemb_var33_ult1,1.000000e+00
1,num_reemb_var13_ult1,delta_num_reemb_var13_1y3,1.000000e+00
2,ind_var8,num_var8,1.000000e+00
3,delta_imp_trasp_var17_out_1y3,num_trasp_var17_out_ult1,1.000000e+00
4,delta_imp_amort_var18_1y3,num_var18,1.000000e+00
...,...,...,...
46396,num_var1,saldo_medio_var13_corto_ult3,3.109287e-07
46397,saldo_var44,num_var24_0,2.132363e-07
46398,num_compra_var44_hace3,num_var24_0,1.291195e-07
46399,saldo_var1,saldo_var32,1.095852e-07
46400,var3,ind_var2_0,NaN

In [ ]:
features_corr["is_redundant_98"] = features_corr["abs_correlation"] > 0.98
features_corr["is_redundant_95"] = features_corr["abs_correlation"] > 0.95
features_corr["is_redundant_90"] = features_corr["abs_correlation"] > 0.90

In [ ]:
features_corr["is_redundant_98"].sum(), features_corr["is_redundant_95"].sum(), features_corr["is_redundant_90"].sum()

(95, 143, 234)

#### Correlação das Features com a variável target

In [ ]:
features_to_target_correlation = pd.concat([train_features_df, target_df], axis=1).corr().iloc[:-1, -1]

features_to_target_correlation

var3                       0.004475
var15                      0.101322
imp_ent_var16_ult1        -0.000017
imp_op_var39_comer_ult1    0.010353
imp_op_var39_comer_ult3    0.003517
                             ...
saldo_medio_var44_hace2   -0.003177
saldo_medio_var44_hace3   -0.002553
saldo_medio_var44_ult1    -0.003104
saldo_medio_var44_ult3    -0.003015
var38                     -0.019510
Name: TARGET, Length: 369, dtype: float64

In [ ]:
features_to_target_correlation = features_to_target_correlation.reset_index()
features_to_target_correlation

                       index    TARGET
0                       var3  0.004475
1                      var15  0.101322
2         imp_ent_var16_ult1 -0.000017
3    imp_op_var39_comer_ult1  0.010353
4    imp_op_var39_comer_ult3  0.003517
..                       ...       ...
364  saldo_medio_var44_hace2 -0.003177
365  saldo_medio_var44_hace3 -0.002553
366   saldo_medio_var44_ult1 -0.003104
367   saldo_medio_var44_ult3 -0.003015
368                    var38 -0.019510

[369 rows x 2 columns]

In [ ]:
features_to_target_correlation["irrelevant_01"] = features_to_target_correlation.TARGET.abs() < 0.01
features_to_target_correlation["irrelevant_001"] = features_to_target_correlation.TARGET.abs() < 0.001
features_to_target_correlation["irrelevant_0001"] = features_to_target_correlation.TARGET.abs() < 0.0001

In [ ]:
features_to_target_correlation

,index,TARGET,irrelevant_01,irrelevant_001,irrelevant_0001
0,var3,0.004475,True,False,False
1,var15,0.101322,False,False,False
2,imp_ent_var16_ult1,-0.000017,True,True,True
3,imp_op_var39_comer_ult1,0.010353,False,False,False
4,imp_op_var39_comer_ult3,0.003517,True,False,False
...,...,...,...,...,...
364,saldo_medio_var44_hace2,-0.003177,True,False,False
365,saldo_medio_var44_hace3,-0.002553,True,False,False
366,saldo_medio_var44_ult1,-0.003104,True,False,False
367,saldo_medio_var44_ult3,-0.003015,True,False,False
368,var38,-0.019510,False,False,False

#### Comparando a lista de features com baixa correlação com o target e a lista de features com alta correlação entre si

In [ ]:
filtered_features_corr = features_corr.loc[features_corr["is_redundant_90"], ["feature_a", "feature_b"]]

In [ ]:
final_correlated = pd.merge(filtered_features_corr, features_to_target_correlation[["index", "TARGET"]], left_on="feature_a", right_on="index", how="left").drop(columns="index").rename({"TARGET": "feature_a_to_target"}, axis=1)
final_correlated = pd.merge(final_correlated, features_to_target_correlation[["index", "TARGET"]], left_on="feature_b", right_on="index", how="left").drop(columns="index").rename({"TARGET": "feature_b_to_target"}, axis=1)
final_correlated

,feature_a,feature_b,feature_a_to_target,feature_b_to_target
0,delta_imp_reemb_var33_1y3,imp_reemb_var33_ult1,-0.000736,-0.000736
1,num_reemb_var13_ult1,delta_num_reemb_var13_1y3,-0.001520,-0.001520
2,ind_var8,num_var8,0.027926,0.027926
3,delta_imp_trasp_var17_out_1y3,num_trasp_var17_out_ult1,-0.001472,-0.001472
4,delta_imp_amort_var18_1y3,num_var18,-0.001041,-0.001041
...,...,...,...,...
229,num_op_var39_efect_ult1,num_op_var39_efect_ult3,0.021783,0.020237
230,num_op_var39_efect_ult3,num_op_var41_efect_ult1,0.020237,0.021036
231,num_op_var41_efect_ult3,num_op_var39_efect_ult1,0.019599,0.021783
232,ind_var13_corto_0,ind_var13_0,-0.034337,-0.039471
233,num_op_var40_comer_ult1,num_op_var40_comer_ult3,-0.001471,-0.002229

In [ ]:
final_correlated[["feature_a_to_target", "feature_b_to_target"]] = final_correlated[["feature_a_to_target", "feature_b_to_target"]].abs()
final_correlated

,feature_a,feature_b,feature_a_to_target,feature_b_to_target
0,delta_imp_reemb_var33_1y3,imp_reemb_var33_ult1,0.000736,0.000736
1,num_reemb_var13_ult1,delta_num_reemb_var13_1y3,0.001520,0.001520
2,ind_var8,num_var8,0.027926,0.027926
3,delta_imp_trasp_var17_out_1y3,num_trasp_var17_out_ult1,0.001472,0.001472
4,delta_imp_amort_var18_1y3,num_var18,0.001041,0.001041
...,...,...,...,...
229,num_op_var39_efect_ult1,num_op_var39_efect_ult3,0.021783,0.020237
230,num_op_var39_efect_ult3,num_op_var41_efect_ult1,0.020237,0.021036
231,num_op_var41_efect_ult3,num_op_var39_efect_ult1,0.019599,0.021783
232,ind_var13_corto_0,ind_var13_0,0.034337,0.039471
233,num_op_var40_comer_ult1,num_op_var40_comer_ult3,0.001471,0.002229

In [ ]:
final_correlated["a_greater_corr_to_target"] = final_correlated["feature_a_to_target"] >= final_correlated["feature_b_to_target"]
final_correlated

,feature_a,feature_b,feature_a_to_target,feature_b_to_target,a_greater_corr_to_target
0,delta_imp_reemb_var33_1y3,imp_reemb_var33_ult1,0.000736,0.000736,True
1,num_reemb_var13_ult1,delta_num_reemb_var13_1y3,0.001520,0.001520,False
2,ind_var8,num_var8,0.027926,0.027926,False
3,delta_imp_trasp_var17_out_1y3,num_trasp_var17_out_ult1,0.001472,0.001472,True
4,delta_imp_amort_var18_1y3,num_var18,0.001041,0.001041,True
...,...,...,...,...,...
229,num_op_var39_efect_ult1,num_op_var39_efect_ult3,0.021783,0.020237,True
230,num_op_var39_efect_ult3,num_op_var41_efect_ult1,0.020237,0.021036,False
231,num_op_var41_efect_ult3,num_op_var39_efect_ult1,0.019599,0.021783,False
232,ind_var13_corto_0,ind_var13_0,0.034337,0.039471,False
233,num_op_var40_comer_ult1,num_op_var40_comer_ult3,0.001471,0.002229,False

In [ ]:
features_to_drop = final_correlated.loc[final_correlated.a_greater_corr_to_target, "feature_b"].values.tolist()
features_to_drop.extend(final_correlated.loc[~final_correlated.a_greater_corr_to_target, "feature_a"].values.tolist())
features_to_drop

['imp_reemb_var33_ult1',
 'num_trasp_var17_out_ult1',
 'num_var18',
 'ind_var20',
 'delta_imp_trasp_var17_in_1y3',
 'delta_num_aport_var13_1y3',
 'delta_imp_aport_var17_1y3',
 'num_var34',
 'num_var18_0',
 'delta_imp_venta_var44_1y3',
 'num_var34',
 'ind_var18',
 'num_var20_0',
 'num_trasp_var33_out_ult1',
 'ind_var34_0',
 'ind_var44',
 'ind_var13_medio_0',
 'imp_trasp_var33_out_ult1',
 'num_reemb_var33_ult1',
 'num_var6',
 'saldo_var1',
 'imp_trasp_var17_in_hace3',
 'num_var24',
 'ind_var40_0',
 'num_op_var41_efect_ult3',
 'saldo_medio_var33_ult1',
 'imp_op_var41_efect_ult1',
 'num_var1',
 'num_var45_ult3',
 'saldo_medio_var17_ult1',
 'ind_var1_0',
 'saldo_medio_var17_ult3',
 'saldo_var13_medio',
 'saldo_var24',
 'ind_var44_0',
 'imp_aport_var17_hace3',
 'ind_var1',
 'ind_var1',
 'num_var5',
 'num_var1',
 'ind_var13_largo',
 'imp_op_var39_ult1',
 'saldo_var33',
 'saldo_medio_var13_largo_ult1',
 'saldo_medio_var12_ult1',
 'saldo_medio_var12_ult1',
 'ind_var13_0',
 'num_var35',
 'ind_var13_corto_0',
 'saldo_var17',
 'saldo_medio_var13_corto_ult3',
 'ind_var26',
 'ind_var25_cte',
 'saldo_var12',
 'num_var13_corto_0',
 'num_op_var39_comer_ult1',
 'saldo_var6',
 'saldo_medio_var17_ult1',
 'saldo_medio_var12_ult3',
 'saldo_medio_var17_ult1',
 'imp_trasp_var33_in_hace3',
 'ind_var9_ult1',
 'saldo_medio_var12_ult1',
 'num_var13_0',
 'num_meses_var13_corto_ult3',
 'num_var13_corto_0',
 'saldo_medio_var17_hace3',
 'saldo_medio_var12_ult3',
 'num_meses_var12_ult3',
 'saldo_medio_var29_ult1',
 'num_var39_0',
 'ind_var44',
 'ind_var44',
 'num_var44',
 'saldo_medio_var8_ult3',
 'num_var13_0',
 'saldo_var13_medio',
 'ind_var26',
 'ind_var24_0',
 'ind_var24_0',
 'num_var24_0',
 'num_op_var41_comer_ult1',
 'num_op_var39_ult3',
 'num_var44_0',
 'ind_var44_0',
 'num_op_var41_ult3',
 'num_var8',
 'ind_var8',
 'num_var8',
 'ind_var8',
 'num_meses_var33_ult3',
 'num_op_var41_comer_ult1',
 'ind_var31',
 'saldo_var34',
 'ind_var25',
 'num_var33_0',
 'num_var5_0',
 'num_op_var41_comer_ult3',
 'num_var13_largo',
 'num_op_var41_comer_ult3',
 'ind_var33',
 'num_meses_var8_ult3',
 'num_op_var39_comer_ult1',
 'saldo_medio_var13_medio_ult3',
 'num_var17_0',
 'saldo_var44',
 'ind_var24',
 'ind_var5',
 'num_var42_0',
 'ind_var17',
 'ind_var9_cte_ult1',
 'num_var13_largo_0',
 'num_var41_0',
 'ind_var24',
 'num_op_var39_efect_ult3',
 'num_reemb_var13_ult1',
 'ind_var8',
 'num_reemb_var17_hace3',
 'num_var6_0',
 'delta_imp_aport_var33_1y3',
 'ind_var40',
 'imp_trasp_var33_out_ult1',
 'num_reemb_var33_ult1',
 'saldo_var18',
 'num_var8_0',
 'saldo_var1',
 'num_var13_corto',
 'imp_op_var41_efect_ult3',
 'num_op_var41_efect_ult1',
 'ind_var1_0',
 'saldo_medio_var17_hace3',
 'ind_var1_0',
 'saldo_medio_var17_ult3',
 'num_var1_0',
 'num_var24_0',
 'ind_var40_0',
 'num_var13_corto_0',
 'saldo_medio_var17_hace3',
 'num_var1',
 'num_op_var39_hace2',
 'num_var12',
 'saldo_medio_var33_ult1',
 'ind_var41_0',
 'num_op_var41_hace3',
 'imp_amort_var34_ult1',
 'num_op_var39_ult3',
 'saldo_medio_var13_corto_ult1',
 'saldo_medio_var13_corto_ult3',
 'saldo_medio_var17_ult3',
 'saldo_medio_var13_medio_hace2',
 'saldo_medio_var13_medio_hace2',
 'saldo_var17',
 'num_op_var41_ult1',
 'ind_var14',
 'saldo_var25',
 'saldo_medio_var12_ult1',
 'saldo_medio_var17_ult1',
 'ind_var13_corto_0',
 'saldo_medio_var17_ult3',
 'saldo_medio_var17_ult3',
 'num_var13_largo',
 'saldo_var17',
 'imp_compra_var44_ult1',
 'num_var13_0',
 'num_var13_corto_0',
 'saldo_var24',
 'num_var26',
 'saldo_medio_var17_ult1',
 'saldo_var17',
 'saldo_medio_var12_ult3',
 'ind_var9_cte_ult1',
 'saldo_var29',
 'saldo_medio_var17_ult3',
 'num_var13',
 'saldo_medio_var44_ult3',
 'saldo_medio_var13_medio_ult3',
 'num_var33',
 'num_meses_var33_ult3',
 'imp_op_var41_comer_ult1',
 'saldo_medio_var17_hace2',
 'ind_var13_corto_0',
 'imp_op_var39_comer_ult3',
 'num_op_var39_comer_ult3',
 'num_meses_var13_corto_ult3',
 'num_op_var40_ult3',
 'imp_aport_var17_hace3',
 'num_var13',
 'num_var44',
 'num_trasp_var33_in_ult1',
 'num_var22_ult3',
 'ind_var37_cte',
 'num_meses_var12_ult3',
 'ind_var25',
 'ind_var32',
 'num_var24_0',
 'saldo_medio_var29_ult1',
 'ind_var9_cte_ult1',
 'saldo_medio_var13_largo_hace2',
 'num_op_var39_comer_ult1',
 'ind_var10cte_ult1',
 'num_var37_med_ult2',
 'saldo_medio_var8_ult1',
 'saldo_var34',
 'saldo_var34',
 'ind_var26',
 'num_op_var39_ult3',
 'num_op_var41_ult3',
 'saldo_medio_var12_hace2',
 'saldo_medio_var13_corto_hace2',
 'num_var32',
 'saldo_medio_var13_corto_hace2',
 'saldo_var44',
 'saldo_medio_var13_largo_hace2',
 'num_op_var39_comer_ult3',
 'num_meses_var8_ult3',
 'saldo_medio_var12_hace2',
 'saldo_medio_var13_medio_ult3',
 'num_var13_largo',
 'saldo_var29',
 'num_op_var41_comer_ult3',
 'num_var45_hace2',
 'num_var13_largo_0',
 'num_var24',
 'num_var45_hace2',
 'imp_venta_var44_hace3',
 'num_var33',
 'ind_var9_ult1',
 'num_var24',
 'num_var5',
 'num_op_var41_efect_ult3',
 'num_op_var39_efect_ult3',
 'num_op_var41_efect_ult3',
 'ind_var13_corto_0',
 'num_op_var40_comer_ult1']

In [ ]:
features_to_drop = list(set(features_to_drop))

## Análise do target

In [ ]:
target_df

0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: TARGET, Length: 76020, dtype: int64

In [ ]:
target_df.describe()

count    76020.000000
mean         0.039569
std          0.194945
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: TARGET, dtype: float64

In [ ]:
target_df.value_counts()

0    73012
1     3008
Name: TARGET, dtype: int64

In [ ]:
target_df.shape

(76020,)

In [ ]:
train_features_df

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000
1,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000
2,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000
3,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000
4,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76015,2,48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60926.490000
76016,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,118634.520000
76017,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74028.150000
76018,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84278.160000
76019,2,46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

In [ ]:
small_train_df = train_features_df.drop(columns=features_to_drop)
small_train_df

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,imp_op_var41_comer_ult3,...,saldo_medio_var29_hace2,saldo_medio_var29_hace3,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,var38
0,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000
1,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000
2,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000
3,2,37,0.0,195.0,0.0,0.0,0.0,0.0,0.0,195.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000
4,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76015,2,48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60926.490000
76016,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,118634.520000
76017,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74028.150000
76018,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84278.160000
76019,2,46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

# Iniciando modelagem

In [ ]:
from sklearn.pipeline import Pipeline
import xgboost as xgb
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, roc_auc_score, f1_score, precision_score, recall_score, confusion_matrix
from imblearn.over_sampling import SMOTE

def calculate_metrics(train_ds, target_ds, objective, oversample=False):
    all_metrics = []

    from sklearn.model_selection import StratifiedKFold
    kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=1)
    for train_ix, test_ix in kfold.split(train_ds, target_ds):
        model = Pipeline(
            [
                ("scaler", StandardScaler()),
                ("xgb", xgb.XGBClassifier(random_state=42, n_jobs=-1, objective=objective, eval_metric="pre")),
            ]
        )
        train_X, test_X = train_ds.iloc[train_ix], train_ds.iloc[test_ix]
        train_y, test_y = target_ds.iloc[train_ix], target_ds.iloc[test_ix]

        if oversample:
            smote = SMOTE(random_state=42)
            X_train_smote, y_train_smote = smote.fit_resample(train_ds, target_ds)
            model.fit(X_train_smote, y_train_smote)
        else:
            model.fit(train_X, train_y)

        pred = model.predict(test_X)
        all_metrics.append(
            {
                "accuracy": accuracy_score(test_y, pred),
                "roc_auc": roc_auc_score(test_y, model.predict_proba(test_X)[:, 1]),
                "f1": f1_score(test_y, pred),
                "precision": precision_score(test_y, pred),
                "recall": recall_score(test_y, pred),
                "confusion_matrix": confusion_matrix(test_y, pred).ravel(),
            }
    )

    return pd.DataFrame(all_metrics)

### Comparando as métricas e objectives do modelo

In [ ]:
for objective in ["binary:logistic", "binary:logitraw", "binary:hinge"]:
    full_ds_metrics = calculate_metrics(train_features_df, target_df, objective)
    print(objective)
    print("tn, fp, fn, tp", full_ds_metrics["confusion_matrix"].sum(axis=0))
    print(full_ds_metrics[["accuracy", "roc_auc", "f1", "precision", "recall"]].mean())

binary:logistic
tn, fp, fn, tp [72950    62  2985    23]
accuracy     0.959918
roc_auc      0.824057
f1           0.014848
precision    0.267227
recall       0.007647
dtype: float64
binary:logitraw
tn, fp, fn, tp [72985    27  2997    11]
accuracy     0.960221
roc_auc      0.824057
f1           0.007210
precision    0.318586
recall       0.003657
dtype: float64
binary:hinge
tn, fp, fn, tp [72817   195  2961    47]
accuracy     0.958485
roc_auc      0.506476
f1           0.028815
precision    0.194402
recall       0.015623
dtype: float64

In [ ]:
# Lógica do lucro à partir da matriz de confusão (tp*90 - fp*10)

(23 * 90 - 62*10), (11 * 90 - 27*10), (47 * 90 - 195*10)

(1450, 720, 2280)

In [ ]:
for objective in ["binary:logistic", "binary:logitraw", "binary:hinge"]:
    small_ds_metrics = calculate_metrics(small_train_df, target_df, objective)
    print(objective)
    print("tn, fp, fn, tp", small_ds_metrics["confusion_matrix"].sum(axis=0))
    print(small_ds_metrics[["accuracy", "roc_auc", "f1", "precision", "recall"]].mean())

binary:logistic
tn, fp, fn, tp [72949    63  2974    34]
accuracy     0.960050
roc_auc      0.823313
f1           0.021877
precision    0.344733
recall       0.011302
dtype: float64
binary:logitraw
tn, fp, fn, tp [72991    21  2989    19]
accuracy     0.960405
roc_auc      0.823313
f1           0.012412
precision    0.523030
recall       0.006315
dtype: float64
binary:hinge
tn, fp, fn, tp [72841   171  2973    35]
accuracy     0.958642
roc_auc      0.504647
f1           0.021772
precision    0.170189
recall       0.011637
dtype: float64

In [ ]:
72841 + 171 + 2973 + 35

76020

In [ ]:
(34 * 90 - 63*10), (19 * 90 - 21*10), (35 * 90 - 171*10)

(2430, 1500, 1440)

In [ ]:
(1450, 720, 2280)

(1450, 720, 2280)

#### Testando modelo oversample

In [ ]:
for objective in ["binary:logistic", "binary:logitraw", "binary:hinge"]:
    small_ds_metrics = calculate_metrics(small_train_df, target_df, objective, oversample=True)
    print(objective)
    print("tn, fp, fn, tp", small_ds_metrics["confusion_matrix"].sum(axis=0))
    print(small_ds_metrics[["accuracy", "roc_auc", "f1", "precision", "recall"]].mean())

binary:logistic
tn, fp, fn, tp [67613  5399  1486  1522]
accuracy     0.909432
roc_auc      0.887859
f1           0.306532
precision    0.219889
recall       0.505980
dtype: float64
binary:logitraw
tn, fp, fn, tp [68911  4101  1797  1211]
accuracy     0.922415
roc_auc      0.887859
f1           0.291063
precision    0.227988
recall       0.402584
dtype: float64
binary:hinge
tn, fp, fn, tp [67238  5774  1421  1587]
accuracy     0.905354
roc_auc      0.724251
f1           0.306053
precision    0.215579
recall       0.527584
dtype: float64

In [ ]:
def calc_final_cost(confusion_matrix):
    return confusion_matrix[3] * 90 - confusion_matrix[1] * 10

In [ ]:
#oversample se mostra bem superior no resultado final
calc_final_cost([67613,5399,1486,1522]), calc_final_cost([68911,4101,1797,1211]), calc_final_cost([67238,5774,1421,1587])

(82990, 67980, 85090)

In [ ]:
model = Pipeline(
    [
        ("scaler", StandardScaler()),
        # ("xgb", xgb.XGBClassifier(random_state=42, n_jobs=-1, objective=binary:hinge, eval_metric="pre")), # BEST ONE
        ("xgb", xgb.XGBClassifier(random_state=42, n_jobs=-1, objective="binary:logistic", eval_metric="pre")),
    ]
)

smote = SMOTE(random_state=42)
X_train_smote, y_train_smote = smote.fit_resample(small_train_df, target_df)
model.fit(X_train_smote, y_train_smote)

Pipeline(steps=[('scaler', StandardScaler()),
                ('xgb',
                 XGBClassifier(base_score=None, booster=None, callbacks=None,
                               colsample_bylevel=None, colsample_bynode=None,
                               colsample_bytree=None, device=None,
                               early_stopping_rounds=None,
                               enable_categorical=False, eval_metric='pre',
                               feature_types=None, gamma=None, grow_policy=None,
                               importance_type=None,
                               interaction_constraints=None, learning_rate=None,
                               max_bin=None, max_cat_threshold=None,
                               max_cat_to_onehot=None, max_delta_step=None,
                               max_depth=None, max_leaves=None,
                               min_child_weight=None, missing=nan,
                               monotone_constraints=None, multi_strategy=None,
                               n_estimators=None, n_jobs=-1,
                               num_parallel_tree=None, random_state=42, ...))])

In [ ]:
confusion_matrix(target_df, model.predict(small_train_df)).ravel()

array([67613,  5399,  1486,  1522], dtype=int64)

In [ ]:
calc_final_cost(confusion_matrix(target_df, model.predict(small_train_df)).ravel())

82990

In [ ]:
#Modelo Final
model = Pipeline(
    [
        ("scaler", StandardScaler()),
        ("xgb", xgb.XGBClassifier(random_state=42, n_jobs=-1, objective="binary:logistic", eval_metric="pre")),
    ]
)
smote = SMOTE(random_state=42)
X_train_smote, y_train_smote = smote.fit_resample(small_train_df, target_df)
model.fit(X_train_smote, y_train_smote)
y_pred = model.predict(small_train_df)

{
    "accuracy": accuracy_score(target_df, y_pred),
    "roc_auc": roc_auc_score(target_df, model.predict_proba(small_train_df)[:, 1]),
    "f1": f1_score(target_df, y_pred),
    "precision": precision_score(target_df, y_pred),
    "recall": recall_score(target_df, y_pred),
    "confusion_matrix": confusion_matrix(target_df, y_pred).ravel()
}

{'accuracy': 0.909431728492502,
 'roc_auc': 0.8878263216859719,
 'f1': 0.30657669453117126,
 'precision': 0.21991041756971536,
 'recall': 0.5059840425531915,
 'confusion_matrix': array([67613,  5399,  1486,  1522], dtype=int64)}

## Letra A - Dados de teste

In [ ]:
test_ds = pd.read_csv("data/test.csv")

In [ ]:
#equiparando quantidade de features
small_test_df = test_ds[small_train_df.columns]
small_test_df

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,imp_op_var41_comer_ult3,...,saldo_medio_var29_hace2,saldo_medio_var29_hace3,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,var38
0,2,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40532.100000
1,2,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45486.720000
2,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46993.950000
3,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187898.610000
4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73649.730000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75813,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40243.200000
75814,2,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,146961.300000
75815,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,167299.770000
75816,2,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016
75817,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

In [ ]:
test_pred = model.predict(small_test_df)
test_pred

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
len(test_pred) * 10

758180

In [ ]:
np.sum(test_pred) * 10

65860

In [ ]:
(len(test_pred) * 10) - (np.sum(test_pred) * 10)

692320

## Letra B - Dados Treino

In [ ]:
small_trainrt_df = small_train_df

In [ ]:
# Usando o modelo para prever as probabilidades
probabilities = model.predict_proba(small_trainrt_df)[:, 1]

In [ ]:
# Definindo as faixas de probabilidade para as notas
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
labels = [5, 4, 3, 2, 1]  # Nota 1 para os mais insatisfeitos

# Atribuindo as notas com base nas faixas de probabilidade
small_trainrt_df["Rating"] = pd.cut(probabilities, bins=bins, labels=labels)

# Verificando a distribuição das notas
print(small_trainrt_df["Rating"].value_counts().sort_index())

5    62779
4     4836
3     2828
2     3450
1     2127
Name: Rating, dtype: int64

In [ ]:
expected_revenue = 100
expected_cost = 10

# Calculando o lucro esperado com a ação de retenção
retention_action_profit = (small_trainrt_df["Rating"] == 1).sum() * (expected_revenue - expected_cost)
retention_action_profit

191430

## Letra B - Dados de teste

In [ ]:
small_train_df = small_train_df.drop(columns=["Rating"])

In [ ]:
small_test_df_subset = test_ds[small_train_df.columns]

In [ ]:

probabilities = model.predict_proba(small_test_df_subset)[:, 1]

In [ ]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
labels = [5, 4, 3, 2, 1]  # Nota 1 para os mais insatisfeitos

In [ ]:
# Atribuindo as notas com base nas faixas de probabilidade
small_test_df_subset["Rating"] = pd.cut(probabilities, bins=bins, labels=labels)

print(small_test_df_subset["Rating"].value_counts().sort_index())

5    62763
4     5038
3     2659
2     3332
1     2026
Name: Rating, dtype: int64

C:\Users\ArtPcGamer\AppData\Local\Temp\ipykernel_17516\13512497.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_test_df_subset["Rating"] = pd.cut(probabilities, bins=bins, labels=labels)

In [ ]:
expected_revenue = 100
expected_cost = 10

# Calculando o lucro esperado com a ação de retenção para dados de teste
retention_action_profit = (small_test_df_subset["Rating"] == 1).sum() * (expected_revenue - expected_cost)
retention_action_profit

182340

## Letra C - Dados de Treino

In [ ]:
small_train_dfc = pd.concat([small_train_df, target_df], axis=1)

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
# Normalizar os dados
scaler = StandardScaler()
scaled_data = scaler.fit_transform(small_train_df)

In [ ]:
# Criar k clusters
kmeans = KMeans(n_clusters=10, random_state=0)
clusters = kmeans.fit_predict(scaled_data)

In [ ]:
#fizemos elbow kmeans porém demonstrou que o k ideal seria entre 2 e 4,
#como a letra C pede os 3 maiores, decidimos utilizar um número arbitrario de 10 para selecionar os 3 com maior lucro.

In [ ]:
# Adicionar os clusters ao dataframe
small_train_dfc['Cluster'] = clusters

In [ ]:
expected_revenue = 100
expected_cost = 10

def calculate_profit(row):
    if row['TARGET'] >= 0.5:
        return expected_revenue - expected_cost
    else:
        return 0

small_train_dfc['Expected_Profit'] = small_train_dfc.apply(calculate_profit, axis=1)

# Agora, vamos calcular o lucro médio por cluster
profit_per_cluster = small_train_dfc.groupby('Cluster')['Expected_Profit'].mean()

In [ ]:
#top clusters para dados de treino
top_clusters = profit_per_cluster.sort_values(ascending=False).head(3)
print(top_clusters)

Cluster
2    7.955826
9    6.315789
6    5.571668
Name: Expected_Profit, dtype: float64

## Letra C - Dados de Teste

In [ ]:
small_test_df_subset = small_test_df_subset.drop(columns=["Rating"])

In [ ]:
#Criando target predito
predicted_target = model.predict(small_test_df_subset)
small_test_df_subset['pred_TARGET'] = predicted_target

In [ ]:
K_small_test_df_subset = small_test_df_subset

# Normalizando os dados
scaler = StandardScaler()
scaled_data = scaler.fit_transform(K_small_test_df_subset)

In [ ]:
kmeans = KMeans(n_clusters=10, random_state=0)
clusters = kmeans.fit_predict(scaled_data)

In [ ]:
K_small_test_df_subset['Cluster'] = clusters

In [ ]:
expected_revenue = 100
expected_cost = 10

def calculate_profit(row):
    if row['pred_TARGET'] >= 0.5:
        return expected_revenue - expected_cost
    else:
        return 0

K_small_test_df_subset['Expected_Profit'] = K_small_test_df_subset.apply(calculate_profit, axis=1)

profit_per_cluster_T = K_small_test_df_subset.groupby('Cluster')['Expected_Profit'].mean()

In [ ]:
#top clusters para dados de teste
top_clusters = profit_per_cluster_T.sort_values(ascending=False).head(3)
print(top_clusters)

Cluster
8    28.649181
7     2.416107
2     1.157556
Name: Expected_Profit, dtype: float64